# Logs
logs
*.log
npm-debug.log*

# NPM package lock file
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dependencies
node_modules

# next.js
.mdx-data
.next

# I need to ignore next.config.js in all forms due to vercel's manipulation of the file
next.config*
public/feed.json
public/rss.xml
public/atom.xml
public/sitemap.xml
