* {
  font-family: 'Arial', sans-serif;
}

h1, h3 {
  color: rgb(61, 75, 144);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  #grid {
    display: grid;
    width: 100%;
    grid-template-columns: .3fr 1fr;
    grid-column-gap: 2em;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}