@tailwind base;

/* Write your own custom base styles here */
body,
html,
:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
}

h1,
h2,
h3 {
	color: theme('colors.blue.500');
}

h1 {
	font-size: 1.81em;
}

h2 {
	font-size: 1.43em;
}

ul {
	list-style-type: hiragana;
	padding-left: 2em;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

a {
	color: theme('colors.blue.700');
	text-decoration: underline;
	@apply font-bold;
}

.content {
	max-width: 50em;
	width: 100%;
	@apply mx-auto;
}

a:hover {
	cursor: pointer;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
